## **Lesson 8: First Machine Learning Model ðŸ¤–**

Our goal is to build a model that can predict a game's Genre based on its sales in different regions.

### The Machine Learning Workflow
The standard workflow involves these key steps:

1. Prepare the Data: Load the data and separate it into features and the target.

2. Split the Data: Divide the data into a training set and a testing set.

3. Train the Model: "Fit" the model to the training data.

4. Evaluate the Model: Test the model's performance on the unseen testing data.

### Step 1 & 2: Prepare and Split the Data

In [ ]:
import io
import pandas as pd
from sklearn.model_selection import train_test_split
csv_data = """Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1,31.37
6,Tetris,GB,1989,Puzzle,Nintendo,23.2,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.5,2.9,30.01
8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.2,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.7,2.26,28.62
10,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
11,Nintendogs,DS,2005,Simulation,Nintendo,9.07,11,1.93,2.75,24.76
12,Mario Kart DS,DS,2005,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,Pokemon Gold/Pokemon Silver,GB,2000,Role-Playing,Nintendo,9,6.18,7.2,0.71,23.1
14,Wii Fit,Wii,2008,Sports,Nintendo,8.94,8.03,3.6,2.15,22.72
15,Wii Fit Plus,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22
16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.4
18,Grand Theft Auto: San Andreas,PS2,2004,Action,Take-Two Interactive,9.43,0.4,0.41,10.57,20.81
19,Super Mario World,SNES,1990,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
20,Brain Age: Train Your Brain in Minutes a Day,DS,2006,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
"""
vgsales_df = pd.read_csv(io.StringIO(csv_data))
features=['NA_Sales','EU_Sales','JP_Sales']
target='Genre'
X=vgsales_df[features]
y=vgsales_df[target]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_train.shape}")

X_train shape: (16, 3)
X_test shape: (16, 3)

### Step 3 & 4: Train the Model and Make Predictions

In [ ]:
from sklearn.tree import DecisionTreeClassifier
import io
import pandas as pd
from sklearn.model_selection import train_test_split
csv_data = """Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1,31.37
6,Tetris,GB,1989,Puzzle,Nintendo,23.2,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.5,2.9,30.01
8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.2,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.7,2.26,28.62
10,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
11,Nintendogs,DS,2005,Simulation,Nintendo,9.07,11,1.93,2.75,24.76
12,Mario Kart DS,DS,2005,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,Pokemon Gold/Pokemon Silver,GB,2000,Role-Playing,Nintendo,9,6.18,7.2,0.71,23.1
14,Wii Fit,Wii,2008,Sports,Nintendo,8.94,8.03,3.6,2.15,22.72
15,Wii Fit Plus,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22
16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.4
18,Grand Theft Auto: San Andreas,PS2,2004,Action,Take-Two Interactive,9.43,0.4,0.41,10.57,20.81
19,Super Mario World,SNES,1990,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
20,Brain Age: Train Your Brain in Minutes a Day,DS,2006,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
"""
vgsales_df = pd.read_csv(io.StringIO(csv_data))
features=['NA_Sales','EU_Sales','JP_Sales']
target='Genre'
X=vgsales_df[features]
y=vgsales_df[target]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model= DecisionTreeClassifier(random_state=42)
model.fit(X_train,y_train)
predictions=model.predict(X_test)
print("--- Model's Prediction on the Test Data --- ")
print(predictions)
print("\n--- Actual Genres of the Test Data ---")
print(y_test.values)

--- Model's Prediction on the Test Data ---
['Racing' 'Shooter' 'Shooter' 'Platform']

--- Actual Genres of the Test Data ---
['Sports' 'Action' 'Misc' 'Platform']

### Step 5: Evaluate the Model

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
import io
import pandas as pd
from sklearn.model_selection import train_test_split
csv_data = """Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1,31.37
6,Tetris,GB,1989,Puzzle,Nintendo,23.2,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.5,2.9,30.01
8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.2,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.7,2.26,28.62
10,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
11,Nintendogs,DS,2005,Simulation,Nintendo,9.07,11,1.93,2.75,24.76
12,Mario Kart DS,DS,2005,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,Pokemon Gold/Pokemon Silver,GB,2000,Role-Playing,Nintendo,9,6.18,7.2,0.71,23.1
14,Wii Fit,Wii,2008,Sports,Nintendo,8.94,8.03,3.6,2.15,22.72
15,Wii Fit Plus,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22
16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.4
18,Grand Theft Auto: San Andreas,PS2,2004,Action,Take-Two Interactive,9.43,0.4,0.41,10.57,20.81
19,Super Mario World,SNES,1990,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
20,Brain Age: Train Your Brain in Minutes a Day,DS,2006,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
"""
vgsales_df = pd.read_csv(io.StringIO(csv_data))
features=['NA_Sales','EU_Sales','JP_Sales']
target='Genre'
X=vgsales_df[features]
y=vgsales_df[target]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model= DecisionTreeClassifier(random_state=42)
model.fit(X_train,y_train)
predictions=model.predict(X_test)
print("--- Model's Prediction on the Test Data --- ")
print(predictions)
print("\n--- Actual Genres of the Test Data ---")
print(y_test.values)
accuracy=accuracy_score(y_test,predictions)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

--- Model's Prediction on the Test Data ---
['Racing' 'Shooter' 'Shooter' 'Platform']

--- Actual Genres of the Test Data ---
['Sports' 'Action' 'Misc' 'Platform']
Model Accuracy: 25.00%

###***Practice Problem: Iris Flower Classification*** ðŸŒ¸
Goal: Build a machine learning model to predict the species of an Iris flower based on its sepal and petal measurements.

In [ ]:
import pandas as pd
import io
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Iris dataset embedded as a string
csv_data = """sepal_length,sepal_width,petal_length,petal_width,species
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa
7.0,3.2,4.7,1.4,Iris-versicolor
6.4,3.2,4.5,1.5,Iris-versicolor
6.9,3.1,4.9,1.5,Iris-versicolor
5.5,2.3,4.0,1.3,Iris-versicolor
6.5,2.8,4.6,1.5,Iris-versicolor
5.7,2.8,4.5,1.3,Iris-versicolor
6.3,3.3,4.7,1.6,Iris-versicolor
4.9,2.4,3.3,1.0,Iris-versicolor
6.6,2.9,4.6,1.3,Iris-versicolor
5.2,2.7,3.9,1.4,Iris-versicolor
6.3,3.3,6.0,2.5,Iris-virginica
5.8,2.7,5.1,1.9,Iris-virginica
7.1,3.0,5.9,2.1,Iris-virginica
6.3,2.9,5.6,1.8,Iris-virginica
6.5,3.0,5.8,2.2,Iris-virginica
7.6,3.0,6.6,2.1,Iris-virginica
4.9,2.5,4.5,1.7,Iris-virginica
7.3,2.9,6.3,1.8,Iris-virginica
6.7,2.5,5.8,1.8,Iris-virginica
7.2,3.6,6.1,2.5,Iris-virginica
"""

iris_df = pd.read_csv(io.StringIO(csv_data))
feature=['sepal_length','sepal_width','petal_length','petal_width']
target='species'
X=iris_df[feature]
y=iris_df[target]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model=DecisionTreeClassifier(random_state=42)
model.fit(X_train,y_train)
predictions=model.predict(X_test)
print(f"The predictions are:\n {predictions}")
accuracy=accuracy_score(y_test,predictions)
print(f"The accuracy of the current model is {accuracy*100:.2f}%")

The predictions are:
 ['Iris-virginica' 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor'
 'Iris-setosa' 'Iris-setosa']
The accuracy of the current model is 100.00%

###***Practice Project: Titanic Survival Prediction*** ðŸš¢
Goal: Build a machine learning model that predicts whether a passenger survived the Titanic disaster based on their information (e.g., age, class, sex).

In [ ]:
import pandas as pd
import io
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# Load the Titanic dataset from a URL
titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

# Get a first look at the data and its issues
print("--- First 5 Rows ---")
print(titanic_df.head())

print("\n--- Dataset Info (Look for missing values and non-numeric columns) ---")
titanic_df.info()
titanic_df['Sex']=titanic_df['Sex'].map({'male':0,'female':1})
mean_age=titanic_df['Age'].mean()
titanic_df['Age']=titanic_df['Age'].fillna(mean_age)
print("--- Updated DataFrame Info ---")
titanic_df.info()

print("\n--- Data after cleaning ---")
print(titanic_df.head())

features=['Age','Sex','Pclass']
target='Survived'
X=titanic_df[features]
y=titanic_df[target]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model=DecisionTreeClassifier(random_state=42)
model.fit(X_train,y_train)
prediction=model.predict(X_test)
accuracy=accuracy_score(y_test,prediction)
print(f"Titanic Survival Prediction Model Accuracy: {accuracy*100:2f}%")

--- First 5 Rows ---
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

--- Dataset Info (Look for missing values and non-numeric columns) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
--- Updated DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

--- Data after cleaning ---
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S
Titanic Survival Prediction Model Accuracy: 77.653631%

##**Lesson 9: Improving Your Model**

There are two common ways to improve a model's performance:

1. Feature Engineering: Creating better, more informative input features from the data you already have.

2. Trying a Different Model: Some models are naturally more powerful or better suited for certain types of problems than others.

### Feature Engineering

In [9]:
titanic_df['Title']=titanic_df['Name'].str.extract(' ([A-za-z]+)\.',expand=False)
titanic_df['Title']=titanic_df['Title'].replace(['Lady','Countess','Capt','Col','Don','Dr','Major','Rev','Sir','Jonkheer','Dona'],'Rare')
titanic_df['Title']=titanic_df['Title'].replace('Mlle','Miss')
titanic_df['Title']=titanic_df['Title'].replace('Ms','Miss')
titanic_df['Title']=titanic_df['Title'].replace('Mme','Mrs')
title_mapping={
    "Mr":1,
    "Miss":2,
    "Mrs":3,
    "Master":4,
    "Rare":5
}
titanic_df['Title']=titanic_df['Title'].map(title_mapping)
titanic_df['Title']=titanic_df['Title'].fillna(0)
print("--- Cleaned Title Column ---")
print(titanic_df['Title'].value_counts())

print("\n--- DataFrame Head with New Title Column ---")
print(titanic_df.head())

--- Cleaned Title Column ---
Title
1    517
2    185
3    126
4     40
5     23
Name: count, dtype: int64

--- DataFrame Head with New Title Column ---
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare Cabin Embarked  Title
0         A/5 21171   7.2500   NaN        S      1
1          PC 17599  71.2833   C85        C      3
2  STON/O2. 3101282   7.9250   NaN        S      2
3            113803  53.1000  C123        S      3
4            373450   8.0500   NaN        S      1

In [10]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
feature=['Title','Age','Pclass','Sex']
target='Survived'
X=titanic_df[feature]
y=titanic_df[target]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model=DecisionTreeClassifier(random_state=42)
model.fit(X_train,y_train)
prediction=model.predict(X_test)
accuracy=accuracy_score(y_test,prediction)
print(f"The updated accuracy of the new model is :{accuracy*100:.2f}%")

The updated accuracy of the new model is :78.21%