## **Lesson 11: Introduction to SQL üóÉÔ∏è**

### Part A: The *SELECT* and *FROM* Clauses

*SELECT* is the most important command in SQL. It is used to specify the columns you want to retrieve from a database table. You can select all columns using * or list specific column names separated by commas.

The *FROM* clause is used to specify the table you want to retrieve the data from.

In [ ]:
import pandas as pd
import sqlite3
data={
    'Rank':[1,2,3,4,5],
    'Name':['Wii Sports','Super Mario Bros','Mario Kart Wii','Wii Sports Resort','Pokemon Red/Pokemon Blue'],
    'Platform':['Wii','NES','Wii','Wii','GB'],
    'Year':[2006,1985,2008,2009,1996],
    'Genre':['Sports','Platform','Racing','Sports','Role-Playing']
}
vgsales_df=pd.DataFrame(data)
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query="SELECT * FROM games;"
results_df=pd.read_sql_query(query,conn)
print("--- Results of 'SELECT * FROM games;' ---")
print(results_df)
conn.close()

--- Results of 'SELECT * FROM games;' ---
   Rank                      Name Platform  Year         Genre
0     1                Wii Sports      Wii  2006        Sports
1     2          Super Mario Bros      NES  1985      Platform
2     3            Mario Kart Wii      Wii  2008        Racing
3     4         Wii Sports Resort      Wii  2009        Sports
4     5  Pokemon Red/Pokemon Blue       GB  1996  Role-Playing

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query2="SELECT Year FROM games;"
results2_df=pd.read_sql_query(query2,conn)
print("--- Results of 'SELECT Names FROM games;' ---")
print(results2_df)
conn.close()

--- Results of 'SELECT Names FROM games;' ---
   Year
0  2006
1  1985
2  2008
3  2009
4  1996

### Part B: Selecting Specific Columns

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query=("SELECT Name,Year From games;")
results_df=pd.read_sql_query(query,conn)
print("--- Results of 'SELECT Name, Year FROM games;' ---")
print(results_df)
conn.close()

--- Results of 'SELECT Name, Year FROM games;' ---
                       Name  Year
0                Wii Sports  2006
1          Super Mario Bros  1985
2            Mario Kart Wii  2008
3         Wii Sports Resort  2009
4  Pokemon Red/Pokemon Blue  1996

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query=("SELECT Name,Platform,Genre FROM games;")
results_df=pd.read_sql_query(query,conn)
print("--- Results of 'SELECT Name, Platform, Genre FROM games;' ---")
print(results_df)
conn.close()

--- Results of 'SELECT Name, Platform, Genre FROM games;' ---
                       Name Platform         Genre
0                Wii Sports      Wii        Sports
1          Super Mario Bros      NES      Platform
2            Mario Kart Wii      Wii        Racing
3         Wii Sports Resort      Wii        Sports
4  Pokemon Red/Pokemon Blue       GB  Role-Playing

### Part C: Filtering with the *WHERE* Clause

The *WHERE* clause is used to filter rows and retrieve only the records that meet a specific condition. It's the primary tool for asking questions of your data. Text values must be enclosed in single quotes (e.g., WHERE Genre = 'Sports').

In [ ]:
import pandas as pd
import sqlite3

# Sample data
data = {
    'Name': ['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', 'Wii Sports Resort', 'Pokemon Red/Pokemon Blue'],
    'Platform': ['Wii', 'NES', 'Wii', 'Wii', 'GB'],
    'Year': [2006, 1985, 2008, 2009, 1996],
    'Genre': ['Sports', 'Platform', 'Racing', 'Sports', 'Role-Playing']
}
vgsales_df = pd.DataFrame(data)

# --- Create database and table ---
conn = sqlite3.connect(':memory:')
vgsales_df.to_sql('games', conn, index=False)

# Define a query with a WHERE clause
query = "SELECT * FROM games WHERE Platform = 'Wii';"

# Execute the query
results_df = pd.read_sql_query(query, conn)

print("--- Filtered results for 'Wii' platform ---")
print(results_df)

conn.close()

--- Filtered results for 'Wii' platform ---
                Name Platform  Year   Genre
0         Wii Sports      Wii  2006  Sports
1     Mario Kart Wii      Wii  2008  Racing
2  Wii Sports Resort      Wii  2009  Sports

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query="SELECT Name,Year FROM games WHERE Genre ='Sports';"
results_df=pd.read_sql_query(query,conn)
print("--- Filtered results with Name and Year for 'Sports' genre ---")
print(results_df)
conn.close()

--- Filtered results with Name and Year for 'Sports' genre ---
                Name  Year
0         Wii Sports  2006
1  Wii Sports Resort  2009

### Part D: Sorting with *ORDER BY*

The *ORDER BY* clause is used to sort the results of your query. By default, it sorts in ascending order (ASC). To sort in descending order (from highest to lowest), you must specify DESC.

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query="SELECT * FROM games ORDER BY Year DESC;"
results_df=pd.read_sql_query(query,conn)
print("--- Results sorted by Year (newest first) ---")
print(results_df)
conn.close()

--- Results sorted by Year (newest first) ---
                       Name Platform  Year         Genre
0         Wii Sports Resort      Wii  2009        Sports
1            Mario Kart Wii      Wii  2008        Racing
2                Wii Sports      Wii  2006        Sports
3  Pokemon Red/Pokemon Blue       GB  1996  Role-Playing
4         Super Mario Bros.      NES  1985      Platform

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query="SELECT Name,Platform FROM games WHERE Platform='Wii' ORDER BY Name ASC;"
results_df=pd.read_sql_query(query,conn)
print("--- Results sorted by Name, Platform (Ascending order) ---")
print(results_df)
conn.close()

--- Results sorted by Name, Platform (Ascending order) ---
                Name Platform
0     Mario Kart Wii      Wii
1         Wii Sports      Wii
2  Wii Sports Resort      Wii

### Part E: Summarizing Data with *COUNT* and *GROUP BY*

*COUNT*() is an aggregate function that counts the number of rows in a group.

The GROUP BY clause is used with aggregate functions to group rows that have the same value in a column into a summary row. This allows COUNT() to count the items for each group.

*AS* is used to create an alias, which renames a column in your result set to make it more readable (e.g., COUNT(*) AS NumberOfGames).

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query="SELECT Platform, COUNT(*) AS NumberOfGames FROM games GROUP BY Platform;"
results_df = pd.read_sql_query(query, conn)
print("--- Count of games per platform ---")
print(results_df)
conn.close()

--- Count of games per platform ---
  Platform  NumberOfGames
0       GB              1
1      NES              1
2      Wii              3

In [ ]:
conn=sqlite3.connect(':memory:')
vgsales_df.to_sql('games',conn,index=False)
query="SELECT Genre,COUNT(*) AS NumberOfGames FROM games GROUP BY Genre ORDER BY NumberOfGames DESC;"
results_df=pd.read_sql_query(query,conn)
print("--- Count of games per genre ---")
print(results_df)
conn.close()

--- Count of games per genre ---
          Genre  NumberOfGames
0      Platform              1
1        Racing              1
2  Role-Playing              1
3        Sports              2

### Part F: Combining Tables with *JOIN*

The *INNER JOIN* clause is used to combine rows from two or more tables.

The *ON* clause specifies the rule for the join. It tells the database how to match rows between the tables by finding a common value in a related column (e.g., ON employees.DepartmentID = departments.DeptID).

In [ ]:
import pandas as pd
import sqlite3
games_data = {
    'Name': ['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii'],
    'Genre': ['Sports', 'Platform', 'Racing'],
    'Publisher_ID': [1, 1, 2]
}
games_df=pd.DataFrame(games_data)
publishers_data = {
    'ID': [1, 2],
    'Publisher_Name': ['Nintendo', 'Activision']
}
publishers_df=pd.DataFrame(publishers_data)
conn=sqlite3.connect(':memory:')
games_df.to_sql('games',conn,index=False)
publishers_df.to_sql('publishers',conn,index=False)
query="""
SELECT
  games.Name,
  games.Genre,
  publishers.Publisher_Name
FROM
  games
INNER JOIN
  publishers ON games.Publisher_ID=publishers.ID;
"""
results_df = pd.read_sql_query(query, conn)
print("--- Results of JOINing games and publishers ---")
print(results_df)
conn.close()

--- Results of JOINing games and publishers ---
                Name     Genre Publisher_Name
0         Wii Sports    Sports       Nintendo
1  Super Mario Bros.  Platform       Nintendo
2     Mario Kart Wii    Racing     Activision

###*Practice Problem: Employee Department Analysis*

Goal: Determine the number of employees in each department.

In [14]:
import pandas as pd
import sqlite3
employees_data = {
    'EmployeeID': [101, 102, 103, 104, 105, 106],
    'EmployeeName': ['Rohan', 'Priya', 'Anjali', 'Vikram', 'Sonia', 'Rahul'],
    'DepartmentID': [1, 2, 1, 3, 2, 1]
}
departments_data = {
    'DeptID': [1, 2, 3],
    'DepartmentName': ['Engineering', 'Marketing', 'Sales']
}
employees_df=pd.DataFrame(employees_data)
departments_df=pd.DataFrame(departments_data)
conn=sqlite3.connect(':memory:')
employees_df.to_sql('e',conn,index=False)
departments_df.to_sql('d',conn,index=False)
query="""
SELECT
  d.DepartmentName,
  COUNT(e.DepartmentID) AS EmployeeCount
FROM
  e
INNER JOIN
  d ON e.DepartmentID=d.DeptID
GROUP BY
  d.DepartmentName;
"""
results_df = pd.read_sql_query(query, conn)
print("--- Number of Employees per Department ---")
print(results_df)

conn.close()

--- Number of Employees per Department ---
  DepartmentName  EmployeeCount
0    Engineering              3
1      Marketing              2
2          Sales              1

###*Practice Problem: Student Course Enrollment*

Goal: Find the names of all students who are enrolled in the 'Data Science' course.

In [13]:
import pandas as pd
import sqlite3
students_data = {
    'StudentID': [1, 2, 3, 4],
    'StudentName': ['Priya', 'Amit', 'Rohan', 'Sonia']
}
courses_data = {
    'CourseID': [101, 102, 103],
    'CourseName': ['History', 'Data Science', 'Mathematics']
}
enrollments_data = {
    'StudentID': [1, 2, 2, 3, 4, 4],
    'CourseID': [101, 101, 102, 103, 102, 103]
}
students_df=pd.DataFrame(students_data)
courses_df=pd.DataFrame(courses_data)
enrollments_df=pd.DataFrame(enrollments_data)
conn=sqlite3.connect(':memory:')
students_df.to_sql('students',conn,index=False)
courses_df.to_sql('courses',conn,index=False)
enrollments_df.to_sql('enrollments',conn,index=False)
query="""
SELECT
  s.StudentName
FROM
  students AS s
INNER JOIN
  enrollments AS e ON s.StudentID=e.StudentID
INNER JOIN
  courses as c ON e.CourseID=c.CourseID
WHERE
  c.CourseName='Data Science';
"""
results_df=pd.read_sql_query(query,conn)
print("--- NAMES OF DS STUDENTS ---")
print(results_df)
conn.close()

--- NAMES OF DS STUDENTS ---
  StudentName
0        Amit
1       Sonia